/* ESTILOS NORMALES (para escritorios muy grandes) */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }

  .show {
    display: none;
    visibility: hidden;
  }

  .cont_title img {


}

.cont_title {

    width: 80%;
    padding: 3em 0;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}





  /* RESPONSIVE  =========================================================================  */

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {


}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
    .show {
        display: block;
        visibility: visible;
      }
    
      .hide {
        display: none;
        visibility: hidden;
      }
}

/* Móviles en vertical */
@media (max-width: 480px) {
}
