.container_skills {
  display: flex;
  align-items: center;
  flex-direction: column;
    justify-content: flex-start;
    min-height: 60vh;
    padding: 2.5rem 2rem 2rem;
}

/* .container_skills_all {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 3.5rem !important;
    background-color: #f9f9f9;


    
} */

.skillsContainer {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3.5rem;
    padding: 0 2rem;
}

.skillScroll {
  width: 100%;
    margin: 0 2rem;
}


.skill_box {
  background: #f9f9f9;
  box-shadow: 0px 0px 12px 1px rgba(254,0,110,0.6);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(254,0,110,0.6);
  -moz-box-shadow: 0px 0px 12px 1px rgba(254,0,110,0.6);
  border-radius: 10px;
  width: 160px;
  height: 160px;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;

}

@media (max-width: 444px) {
.skillsContainer {
  padding: 0.5em;
  margin: 1rem 0;
}

.skillScroll {
  width: 100%;
  margin: 0;
}

.skill_box {
  width: 150px;
  height: 135px;
  margin: 1.2rem;
  padding: 2rem 1rem;
}

.skill_box img {
  height: 70px;
}

.skill_box p {
  font-size: 1.2em;
  margin-top: 1rem;
}

.container_skills {
  padding: 0.5rem;
  min-height: 100%;
}
}
