/* ESTILOS NORMALES (para escritorios muy grandes) */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container_about {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.container_about_right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  width: 75%;
  margin-top: 4em;
}

.container_menu {
  width: 25%;
}

/* .cont_title p {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 15px;
    text-align: center;

}

.cont_title {
    border: 1px solid #fe006e;
    width: 80%;
    padding: 3em 0;
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

} */

.cont_description {
  width: 80%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.cont_description p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #000000;
  line-height: 180%;
}

.cont_description p span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.container_table {
  width: 80%;
  margin: 2em 1em;
  /* margin-top: 2em;
    background-color: #fe006e; */
}

.container_line {
  /* height: 60%; */
  padding: 1em 0;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_line img {
  height: 100%;
}

.cont_subtitle {
  background-color: #fe006e;
  padding: 0.8em 1em;
  border-radius: 25px 25px 0 0;
}

.cont_subtitle p {
  color: #ffffff;
  font-size: 1.8em;
}
.container_education {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 25px 25px;
  margin-bottom: 5em;
  box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
}

.cont_design,
.cont_dev,
.cont_chiappini,
.cont_mrm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2em;
  width: 40%;
  margin-bottom: 1.5em;
}

.cont_design .one {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

.cont_design .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0.8em;
}

.cont_design .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.8em;
}

.cont_dev .one {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

.cont_dev .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0.8em;
}

.cont_dev .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.8em;
}

.container_education p {
  color: #ffffff;
}

.container_experience {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 25px 25px;
  margin-bottom: 5em;
  box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
}

.container_experience p {
  color: #ffffff;
}

.cont_chiappini .one {
  font-weight: 700;
  text-align: center;
  margin-top: 0.8em;
  font-size: 1.8em;
}

.cont_chiappini .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.cont_chiappini .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.cont_mrm .one {
  font-weight: 700;
  text-align: center;
  margin-top: 0.8em;
  font-size: 1.8em;
}

.cont_mrm .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.cont_mrm .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.5em;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

/* RESPONSIVE  =========================================================================  */

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
}

/* Móviles en vertical */
@media (max-width: 480px) {
}
