/* ESTILOS NORMALES (para escritorios muy grandes) */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}



.container_about {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.container_about_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}

.container_menu {
  width: 100%;
  padding: 2em 2em 0em 2em;
}

.cont_img_prof {
  display: flex;
}

.cont_img_info {
  display: flex;
  width: 75%;
  justify-content: center;
}

.cont_description {
  width: 43%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #000000;

}

.profession {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 0.5em;
  color: #000000;

}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #000000;
  line-height: 180%;
}

.cont_redes {
  display: flex;
}

.cont_red {
  display: flex;
  flex-direction: row;
    align-content: center;
    align-items: center;
    margin-right: 1.5em;
}

.cont_red div img {
  width: 40px;
  margin-right: 0.5em;
}



.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

}

.container_buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-right: 1em;
  background-color: #fe006e;
  border: none;
  border-radius: 1em;
  width: 180px;
  padding: 0.5em 0;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #ffffff;
  cursor: pointer;
}

.container_buttons button a {
  color: #ffffff;
}

button:hover {
  background-color: #000000;
}

.container_edu {
  width: 100%;
}


.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

/* RESPONSIVE  =========================================================================  */

/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) {
}

/* Móviles en vertical */
@media (max-width: 480px) {
}
