/* ESTILOS NORMALES (para escritorios muy grandes) */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container_about {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.container_about_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}

.container_menu {
  width: 100%;
  padding: 2em 2em 0em 2em;
}

.cont_img_prof {
  width: 25%;
}

.cont_img_prof img {
  width: 100%;
}

.cont_img_info {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
}

.cont_description {
  width: 39%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #000000;
}

.profession {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 0.5em;
  color: #000000;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #000000;
  line-height: 180%;
}

.cont_redes {
  display: flex;
}

.cont_red {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-right: 1.5em;
}

.cont_red div img {
  width: 40px;
  margin-right: 0.5em;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.container_buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-right: 1em;
  background-color: #fe006e;
  border: none;
  border-radius: 1em;
  width: 180px;
  padding: 0.5em 0;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #ffffff;
  cursor: pointer;
}

.container_buttons button a {
  color: #ffffff;
}

button:hover {
  background-color: #000000;
}

.container {
  width: 100%;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

/* RESPONSIVE  =========================================================================  */


@media (max-width: 1512px) {

  .name {

    font-size: 1.7em;

  }
  
  .profession {

    font-size: 1.2em;

  }
  
  .description {

    font-size: 0.8em;

  }

  .cont_img_prof {
    width: 25%;
  }


}

@media (max-width: 1212px) {
  .cont_description {
    width: 49%;
  }

  .cont_img_info {
    width: 78%;
  }

  .cont_img_prof {
    width: 35%;
  }
}

@media (max-width: 972px) {
  .cont_img_info {
    width: 95%;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .cont_img_prof {
    width: 45%;
    height: auto;
  }

  .cont_description {
    width: 50%;
  }
}

@media (max-width: 612px) {
  .cont_img_info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cont_img_prof {
    width: 60%;
    margin-bottom: 1.5em;
  }

  .cont_description {
    width: 80%;
    margin: 0;
  }
}


@media (max-width: 444px) {
  .cont_redes div p {
    display: none;
  }

  .name {
    font-size: 1.6em;
  }
  .profession {
    font-size: 1.2em;
  }

  .container_buttons {
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
  .container_buttons button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .cont_redes {
    width: 100%;
    justify-content: space-between;
  }

  .cont_red {
    margin: 0;
  }

  .cont_description span:hover {
    color: #fe006e;
  }
}
