.container_education {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffe5f0;
  margin-top: 5em;
  margin-bottom: 5em;
  padding-bottom: 5em;
  width: 100%;
}

.cont_info_edu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}

.cont_design,
.cont_dev {
  background-color: #ffffff;
  border-radius: 1em;
  padding: 2em;
  height: 300px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.cont_design .one {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

.cont_design .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0.8em;
}

.cont_design .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.8em;
}

.cont_dev .one {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

.cont_dev .two {
  font-weight: 700;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0.8em;
}

.cont_dev .three {
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0.8em;
}

/* RESPONSIVE  =========================================================================  */

@media (max-width: 1512px) {
  .cont_info_edu {
    justify-content: center;
  }
  .cont_design,
  .cont_dev {
    width: 22%;
    height: 220px;
    padding: 1em;
    margin: 0 2em;
  }

  .cont_design div img {
    width: 80px;
  }

  .cont_dev div img {
    width: 80px;
  }

  .cont_design .one {
    font-size: 1em;
  }

  .cont_dev .one {
    font-size: 1em;
  }

  .cont_design .two {
    font-size: 1.2em;
  }

  .cont_dev .two {
    font-size: 1.2em;
  }

  .cont_design .three {
    font-size: 1em;
  }

  .cont_dev .three {
    font-size: 1em;
  }
}

@media (max-width: 1212px) {
  .cont_design,
  .cont_dev {
    width: 25%;
    height: 250px;
  }
}

@media (max-width: 1024px) {
  .cont_design,
  .cont_dev {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 972px) {
  .cont_design,
  .cont_dev {
    width: 60%;
    height: auto;
  }

  .cont_info_edu {
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cont_info_edu {
    flex-wrap: wrap;
  }

  .cont_design {
    margin-bottom: 1.5em;
  }

  .cont_dev .two {
    font-size: 1.3em;
  }

  .cont_design .two {
    font-size: 1.3em;
  }
}

@media (max-width: 444px) {
  .cont_design,
  .cont_dev {
    width: 70%;
  }
}

@media (max-width: 390px) {
  .cont_design {
    padding: 1em;
    width: 86%;
  }

  .cont_dev {
    padding: 1em;
    width: 86%;
  }

  .cont_design .one {
    font-size: 1em;
  }

  .cont_design .two {
    font-size: 1.3em;
  }

  .cont_design .three {
    font-size: 1em;
  }

  .cont_dev .one {
    font-size: 1em;
  }

  .cont_dev .two {
    font-size: 1.3em;
  }

  .cont_dev .three {
    font-size: 1em;
  }

  .container_education {
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
