/* ESTILOS NORMALES (para escritorios muy grandes) */

.container_menu {
    width: 25%;
}

.container_achievements {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 60vh;
    padding: 2.5rem 2rem 2rem;
    
}


.container_divs_achievements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5em 0em;
}

.cont_each_achievement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 55%;
    background-color: #FFE5F0;
    padding: 1.5em;
    margin: 1em;
    height: auto;
    border-radius: 25px;
    box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
}

.cont_certificate_achievement {
    display: flex;
    width: 35%;
    padding-right: 2em;
}

.cont_certificate_achievement img {
    width: 100%;
}

.container_info {
    width: 60%;
}

.cont_title_achievement {
    color: #FE006E;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.cont_place_achievement {
    color: #000;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.cont_date_achievement {
    color: #000;
    font-size: 1.2em;
}

@media (max-width: 972px) {
    .cont_each_achievement {
        width: 70%;
    }
}

@media (max-width:612px) {
    .cont_each_achievement {
        width: 90%;
    }

    .container_divs_achievements {
        width: 100%;
    }
}