/* ESTILOS NORMALES (para escritorios muy grandes) */

.container_menu {
    width: 25%;
}

.container_logros {
background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    
}

.container_logros_right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    width: 75%;
    margin-top: 4em;
}

.container_divs_logros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5em 0em;
}

.cont_each_logro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
    background-color: #000000;
    padding: 1.5em;
    margin: 1em;
    height: auto;
    border-radius: 25px;
    box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 9px 12px 34px -3px rgba(0, 0, 0, 0.66);
}

.cont_certificate_logro {
    display: flex;
    width: 35%;
    padding-right: 2em;
}

.cont_certificate_logro img {
    width: 100%;
}

.container_info {
    width: 60%;
}

.cont_title_logro {
    color: #FE006E;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.cont_place_logro {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.cont_date_logro {
    color: #ffffff;
    font-size: 1.2em;
}