.container_logo_nav {
  display: flex;
  flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.container_nav {
  display: flex;
  width: 70%;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.container_log {
  width: 20%;
}

.container_logo img {
  width: 280px;
}