.container_logo_nav {
  display: flex;
  flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 2em;
}

.container_nav_mob  {
  display: none;
}

.container_nav {
  display: flex;
  width: 70%;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.container_nav div p {
  box-shadow: inset 0 0 0 0 #FE006E;
  color: #000;
  padding: 0.5em;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: pointer;
}



.container_nav div p:hover {
  box-shadow: inset 100px 0 0 0 #FE006E;
  color: white;
  padding: 0.5em;
  
}

.container_logo {
  width: 20%;
}

@media (max-width: 612px) {
  .container_nav {
    display: none;
  }

  .container_nav_mob {
    display: flex;
  }
}