.container_home {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container_logo_txt {
    width: 50%;
}

.container_logo img {
    width: 100px;
}

.container_profile {
    width: 50%;
}

.container_profile img {
    width: 100%;
    max-width: 500px;
}