/* ESTILOS NORMALES (para escritorios muy grandes) */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 2em;
}

.container_home {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.container_izq {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 5em;
}

.container_all {
  width: 100%;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.container_profile {
  width: 40%;
}

.container_profile img {
  width: 100%;
}

.container_txt {
  margin-top: 2em;
}

.cont_hola p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.cont_soy p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 5em;
  padding-bottom: 0.5em;
  margin: 0;
}

.cont_soy p span {
  color: #fe006e;
}

.cont_anclaje p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 2em;
}

.cont_anclaje {
  background-color: #fe006e;
  display: inline-block;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.cont_description p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 1.8em;
  padding-bottom: 0.5em;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

}

.container_buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin-right: 1em;
  background-color: #ffffff;
  border: #fe006e solid 1px;
  border-radius: 0.5em;
  width: 220px;
  padding: 0.5em 0;
  margin-bottom: 1em;
  margin-top: 1em;
}

.show {
  display: none;
  visibility: hidden;
}

.profile_mobile {
  display: none;
  visibility: hidden;
}

.container_footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.cont_block_foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  bottom: 0%;

}

.cont_block_foot img {
  width: 50px;
}

.line img {
  width: 10px;
}