.container_services {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.title_subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5f0;
  width: 100%;
}

.subtitle {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 2em;
  color: #000000;
  line-height: 180%;
}

.subtitle p span {
  font-weight: 600;
  font-style: italic;
}

.subtitle div {
  text-decoration: underline;
  display: inline;
  font-weight: 600;
  cursor: pointer;
}

.subtitle div:hover {
  color: #fe006e;
}

.container_each_service {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 23%;
  margin-top: 2em;
  border-radius: 25px;
  box-shadow: 10px 15px 10px 4px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 15px 10px 4px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 15px 10px 4px rgba(0, 0, 0, 0.46);
  padding: 0.5em 2em;
  height: 260px;
}

.cont_img img {
  width: 100px;
}

.serv_title p {
  font-weight: 600;
  font-size: 1.5em;
}

.serv_text {
  text-align: center;
  margin-top: 1em;
}

.cont_list_services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 2em;
  width: 70%;
}

@media (max-width: 1512px) {

.subtitle {
  font-size: 1em;
}

.serv_title p {
  font-size: 1.2em;
}

.serv_text {
  font-size: 0.8em;
  width: auto;
}

.cont_list_services {
  width: 60%;
}

.container_each_service {
  height: 222px;
  width: 25%;
}

}

@media (max-width: 1212px) {

  .container_each_service {
    padding: 1.5em;
  }

.cont_list_services {
  width: 70%;
}

}

@media (max-width: 972px) {
  .cont_list_services {
    width: 90%;
  }
}

@media (max-width: 612px) {
  .subtitle {
    width: 80%;
  }

  .cont_list_services {
    width: 95%;
  }

  .container_each_service {
    width: 30%;
  }

}

@media (max-width:768px){
  .container_each_service {
    width: 35%;
  }
}

@media (max-width: 444px) {
  .container_each_service {
    width: 55%;
    height: auto;
  }

  .serv_text {
    width: 250px;
  }

  .serv_text p {
    padding: 0 1.2em;
  }
}

@media (max-width: 390px) {
  .container_each_service {
    width: 70%;
  }

  .serv_text p {
    padding: 0 1.2em;
  }
}
